<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,124},{125,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,56}}</string>
                <key>sourceSize</key>
                <string>{125,56}</string>
            </dict>
            <key>fish_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{105,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,44}}</string>
                <key>sourceSize</key>
                <string>{105,44}</string>
            </dict>
            <key>fish_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{167,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,44}}</string>
                <key>sourceSize</key>
                <string>{167,44}</string>
            </dict>
            <key>fish_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{160,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,69}}</string>
                <key>sourceSize</key>
                <string>{160,69}</string>
            </dict>
            <key>fish_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,251},{78,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,53}}</string>
                <key>sourceSize</key>
                <string>{78,53}</string>
            </dict>
            <key>fish_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{182,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,45}}</string>
                <key>sourceSize</key>
                <string>{182,45}</string>
            </dict>
            <key>shark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,120}}</string>
                <key>sourceSize</key>
                <string>{210,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameObjectsSpriteSheet-hd.pvr.gz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d43bc2856432c3698f90eea9e9b7b798$</string>
            <key>textureFileName</key>
            <string>GameObjectsSpriteSheet-hd.pvr.gz</string>
        </dict>
    </dict>
</plist>
